:root {
    --background-color: #75b9d8;
    --text-color: #dae8ee;
    --navbar-back: #1b049e;
    --card-color: #8dafcc;
    --dark-blue: #10035c;
}

body{
    background-color: var(--background-color);
    overflow-x: hidden;
}

.total{
    padding-top: 8vh;
    /* display: flex;
    justify-content: center; */
    width: 100%;
}

.title{
    font-size: 5vw;
    font-weight: 900;
}

.App{
    justify-content: center;
    text-align: center;
}

.miniTitle {
    font-weight: 800;
    font-size: 2vw;
    text-align: left;
}

a {
    text-decoration: none;
}

#appLink {
    font-size: 1.5vw;
    transition: .4s;
}
#appLink:hover {
    transform: scale(1.15);
    color: white;
}